.logout{
  position: fixed;
  top:40%;
  left:50%;
  width: 280px;
  background-color: #fff;
  padding: 20px;
  border-radius: 2vh;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.3);
  height: 35%;
  z-index: 1015;
  animation: 0.2s ease-in-out loadEffect1;
}
@keyframes loadEffect1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }

  85% {
    opacity: 0.85;
    transform: translate(-50%, -50%) scale(1.01);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.logouttop{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.logout img{
  position: absolute;
  right: 5%;
  top:5%;
}

.explanation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.btndiv{
  display: flex;
}

.hate{
  position: absolute;
  left: 5%;
  padding: 3% 10% 3% 10%;
  background-color: rgba(125,0,225);
  color: white;
  border-radius: 1.5vh;
  font-size: 80%;
}


.like{
  position: absolute;
  right: 5%;
  padding: 3% 10% 3% 10%;
  background-color: gray;
  color: white;
  border-radius: 1.5vh;
  font-size: 80%;

}

.hr{
  width: 100%;
  border: 1px solid;
  border-color: rgba(125, 0, 225);
}