/* mypage 전체 */

.mypage {
    display: inline;
    background-color: white;
    justify-content: center;
}

/* mypage 상단 */

.mypagetop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(125, 0, 225, 0.25);
}

.settingimg {
    position: absolute;
    right: 5%;
    width: 10%;
}

/* 프로필 이미지 */

.profileimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(125, 0, 225, 0.25) 50%, white 25%);
}

.profileimg img {
    display: flex;
    justify-content: center;
    width: 20%;
}

.profileimg a {
    display: flex;
    justify-content: center;
    width: 20%;
}

.profileimg a img {
    width: 100%;
}

/* 닉네임하고 편집 버튼 */

.profilename {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilename img {
    position: relative;
    left: 10px;
    width: 2.5%;
}

/* 한줄 소개 */

.oneline {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 호불호 */

.likehate {
    display: flex;
    margin-bottom: 2%;
}

.likehate button {
    /* margin 하면 빈공간에도 클릭이 된다 이거 내일 해보자 */
    margin-left: 10px;
}

/* 고객센터 이미지 */

.customercenterimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customercenterimg img {
    width: 80%;
}