.basic{
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.mypage{
    margin-left: 10%;
    padding-left: 20%;
    padding-right: 20%;
}
.settings{
    width: 10%;
}
.backgroundcolor{
    background-color: white;
}
.profileDiv{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 10vh;
}
.profileImg{
    max-width: 110%;
    max-height: 110%;
}
.NickNameEdit{
    display: flex;
    justify-content: center;
    height: 10vh;
    text-align: center;
    align-items: center;
    .h1{
        padding:5%
    }
}
.pencil{
    width: 5%;
    max-height: 30%;
}

.MypageLikeHate{
    display: flex;
}
.customercenter{
    width: 100%;
    height: 12vh;
}

