.nicknameedit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 3px solid;
  border-color: rgba(125, 0, 255, 1);
  width: 80%;
  height: 40%;
  z-index: 1015;
}

.nicknameedittop{
  display: flex;
  align-items: center;
}

.nicknameedittop img{
  position: absolute;
  right: 5%;
  top: 5%;
}
/* 타이틀 */

.title{
  margin-top: 5%;
}
.titleinline{
  display: flex;
  align-items: center;
  margin-bottom: 3.5vh;
  margin-left: 1%;
}

.titleinline input{
  height: 3.5vh;
  border-radius: 0.8vh;
  border: 1px solid gray;
  width: 65%;
}
.titleinline img{
  background-color: rgba(125, 0, 255, 1);
  margin-left: 10%;
  padding: 0.7vh 1.7vh 0.7vh 1.7vh;
  border-radius: 1.5vh;
}

/* 닉네임 */

.nickname{
  display: flex;
  align-items: center;
  margin-bottom: 3.5vh;
  margin-left: 1%;
}

.nickname input{
  height: 3.5vh;
  border-radius: 0.8vh;
  border: 1px solid gray;
  width: 65%;
}

/* 한줄 소개 */

.bio{
  display: flex;
  align-items: center;
  margin-bottom: 3.5vh;
  margin-left: 1%;
}

.bio input{
  height: 3.5vh;
  border-radius: 0.8vh;
  border: 1px solid gray;
  width: 95%;
}

.savebtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.savebtn span{
  width: auto;
  height: 0 auto;
  background-color: rgba(125, 0, 255, 1);
  padding: 0.5vh 1.5vh 0.5vh 1.5vh;
  border-radius: 5vh;
  color: white;
}

.hr{
  width: 100%;
  border: 1px solid;
  border-color: rgba(125, 0, 225);
  margin-top: 2%;
  margin-bottom: 5%;
}