.hi{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 3px solid;
  border-color: rgba(125, 0, 255, 1);
  width: 70%;
  height: 50%;
  text-align: center;
  z-index: 1015;

}

.top{
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
  justify-items: start;
}
.top h4{
  margin: 0%;
}
