.settings{
  position: fixed;
  top: 16.4vh;
  left: 50%;
  width: 280px;
  transform: translate(-50%, -50%) scale(1);
  background-color: white;
  padding: 20px;
  border-top-left-radius: 3vh;
  border-bottom-left-radius:3vh ;
  border-bottom-right-radius:3vh ;
  border:1px solid;
  border-color:rgba(125,0,225,0.25);
  z-index: 10;
  animation: 0.2s ease-in-out loadEffect1;
}
@keyframes loadEffect1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }

  85% {
    opacity: 0.85;
    transform: translate(-50%, -50%) scale(1.01);
  }

  100% {
    opacity: 1;
    transform:translate(-50%, -50%) scale(1);
  }
}

.hr{
  width: 100%;
  border: 1px solid;
  border-color: rgba(125, 0, 225);
  margin-top: 2%;
  margin-bottom: 5%;
}
