.settings{
  position: absolute;
  width: 75%;
  left: 5%;
  top:8vh;
  background-color: white;
  padding: 5%;
  border-top-left-radius: 3vh;
  border-bottom-left-radius:3vh ;
  border-bottom-right-radius:3vh ;
  border:1px solid;
  border-color:rgba(125,0,225,0.25);
  z-index: 10;
}

.settings div div {
  margin: 5%;
}