.container {
  height: 100vh;
  background-image: url('../../../../public/img/background.png');
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* justify-content: flex-end; */
}

.buttons {
  margin-top: auto;
} 

.buttons button {
  border: 1px solid black;
  display:flex;
  margin-bottom: 6vh;
}