.titleWrap {
  display: flex;
  justify-content: center;
  width: 80%;
}

.reload {
  border: 0;
  border-radius: 5px;
  background-color: #7d00ff;
  width: 60px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}


.prefix {
  width: 80%;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.line1 {
  width: 60%;
  border-radius: 10px 0 0 10px;
  background-color: #7d00ff;
}

.line2 {
  width: 40%;
  border-radius:0 10px 10px 0;
  background-color: lightgray;
}

.nextButton {
  margin-top: 15vh;
}