.middle {
  border: 1px solid #7d00ff;
  border-radius: 20px;
  padding: 5%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.error {
  display: flex;
  justify-content: center;
}

.radioWrap {
  width: 100%;
  display: flex;
  margin: 0 0.5vh 0 0.5vh;
}

.radio {
  display: none;
}

label {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: small;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: lightgray;
}

input[type=radio]:checked + label {
  border: 1px solid #7d00ff;
  border-radius: 10px;
  color: #7d00ff;
}

.checkbox {
  display: none;
}

.checkboxLabel {
  
}

input[type=checkbox]:checked + .checkboxLabel {
  border: 1px solid #7d00ff;
  color: #7d00ff;
}