.middle {
  border: 1px solid #7d00ff;
  border-radius: 20px;
  padding: 5%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.error {
  display: flex;
  justify-content: center;
}

.radio {
  display: none;
}

.radio > label {
  border: 1px solid lightgray;
  border-radius: 5px;
}

input[type=radio]:checked + label {
  border: 1px solid #7d00ff;
  border-radius: 10px;
  color: #7d00ff;
}