.alert {
  display: grid;
  height: 4rem;
  grid-template-columns: 1fr 7fr 1fr;
  justify-items: center;
  align-items: center;
  border-bottom: none;
  border-color: rgba(125, 0, 225, 1);
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
  background-color: rgba(255, 255, 255, 0.8);
  /* 추가: 초기 위치를 아래로 설정하고 애니메이션 적용 */
  transform: translateY(200%) scale(0.7);
  transition: transform 0.3s ease-in-out, ease-in-out;
  border: 1px solid black !important;
}
.alert.show {
  transform: translateY(0) scale(1);
  opacity: 1;
}
.alert.hide {
  transform: translateY(200%) scale(0.7);
  opacity: 0;
}
.upBtn {
  background-color: rgba(255, 255, 255, 0.1);
  width: 2rem;
  margin-right: 100%;
  border: none;
}
.alert img {
  width: 50%;
}
.infoPin {
  margin-left: 60%;
}
