.container {
  width: 100vw;
  margin-top: 1.3rem;
  padding-bottom: 0.2rem;
  position: relative;
  background-color: none;
  max-width: 410px;
  min-width: 200px;
}

.navibar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5vh;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
  border-color: rgba(125, 0, 255);
  height: 4rem;
}

.navibar div {
  text-align: center;
  justify-content: center;
  width: 30vw;
  margin: 4% 3%;
  padding: 5px 0;
  text-decoration: none;
  border-radius: 1.875rem;
}

.navibar div img {
  height: auto;
}

.navibar a {
  text-decoration: none;
}

.on {
  background-color: rgba(125, 0, 225);
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
  color: white;
}

.alert {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  padding: 4% 0% 9% 0%;
  bottom: 10%;
  justify-items: center;
  border: 1px solid;
  border-bottom: none;
  border-color: rgba(125, 0, 225, 1);
  background-color: rgba(255, 255, 255, 0.8);
}
.upBtn {
  background-color: rgba(255, 255, 255, 0.1);
  width: 2rem;
  margin-right: 100%;
  border: none;
}
.alert img {
  width: 50%;
}

.alert span {
  justify-self: start;
  align-self: center;
}
