.basic {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navi {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
}
.self {
  width: 33%;
  text-align: center;
  background-color: violet;
  margin: 2%;
  padding-top: 5%;
  border-radius: 25%;
}

.coffee {
  position: fixed;
  bottom: 30%;
}
