.chatMain {
  justify-content: center;
  align-items: center;
  display: inline-block;
  background-color: rgb(243, 235, 255);
  position: relative;
  left: 24%;
  top: 7%;
  width: 50%;
  margin-left: 0.8%;
  margin-right: 2%;
  height: 80vh;
  border-radius: 2rem 2rem 2rem 2rem;
  overflow: scroll;
  box-shadow: 0 0.03rem 1.25rem rgba(0, 0, 0, 0.25);
  font-size: 0.475rem;
  animation: 0.2s ease-in-out, loadEffect1;
  z-index: 10;
}
/* 모바일 스타일 */
@media (max-width: 500px) {
  .chatMain {
    width: 96%; /* 모바일 화면에 맞게 너비 조정 */
    left: 2%;
    margin: 0;
  }
}
@keyframes loadEffect1 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  85% {
    opacity: 0.85;
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* 상단 정보 부분 */
.chatHeader {
  color: #7d00ff;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  padding: 0 3%;
  margin-top: 3%;
}

.chatHeader button {
  border: none;
  background-color: rgb(243, 235, 255);
}
.chatHeader * {
  background-color: rgb(243, 235, 255);
}
.cancel {
  width: 10%;
}
.time {
  margin-left: 22%;
  max-width: 40%;
  min-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
}
.headerRight {
  display: flex;
  position: absolute;
  right: 0;
  padding-right: 10%;
}

.downBtn {
  margin-left: 50%;
}

/* 모달 중간선  */
.divider {
  margin: 2%;
  margin-top: 3%;
  display: block;
  height: 0.2rem;
  background-color: #7d00ff;
}
/* 채팅 보내기 */
.message {
  color: black;
}
.sendBar {
  position: absolute;
  width: 90%;
  bottom: 2%;
  height: 5%;
  display: flex;
  padding: 1%;
  left: 4%;
  justify-self: center;
  align-items: center;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}

.sendBar input {
  font-size: 1rem;
  flex: 1;
  padding: 5px;
  width: 100%;
  margin-left: 3%;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  outline: none;
}

.sendBar button {
  background-image: url("/public/img/send.png");
  background-repeat: no-repeat;
  background-position: 50% center;
  margin-right: 0.5rem;
  padding-right: 2rem;
  padding-top: 2rem;
  border: none;
  background-color: rgb(255, 255, 255);
}
/* 메시지 버블 */
.selfMessage {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgb(123, 0, 255, 0.55);
  padding: 0.7rem 1.3rem;
  margin-left: auto;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  background-color: #ffffff;

  width: fit-content;
  border-radius: 1rem 0.3rem 1rem 1rem;
  word-wrap: break-word; /* 긴 메시지가 풍선을 벗어나지 않도록 줄 바꿈 설정 */
}

.otherMessage {
  display: flex;
  background-color: #e0e0e0;
  border-radius: 0.625rem;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  padding: 0.7rem 1.3rem;
  width: fit-content;
  margin-left: 2rem;
  border-radius: 0.3rem 1rem 1rem 1rem;
  word-wrap: break-word; /* 긴 메시지가 풍선을 벗어나지 않도록 줄 바꿈 설정 */
}

.opponentMain {
  display: flex;
}
.nickName {
  display: flex;
  list-style: none;
  font-size: 1rem;
  align-items: center;
  margin-left: 0.5rem;
  margin-bottom: -0.5rem;
}
.otherIcon {
  display: flex;
  border-radius: 0.625rem;
  width: 9%;
}

.chat {
  margin: 1vh 2% 3vh 2%;
  min-height: 78%;
  max-height: 81%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: 3rem; /* 인터넷 익스플로러 */
  scrollbar-width: 3rem; /* 파이어폭스 */
}

/* 나갈꺼야? */
.exitConfirmationModal {
  position: fixed;
  width: 40%;
  height: 18%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
/* 모바일 스타일 */
@media (max-width: 500px) {
  .exitConfirmationModal {
    width: 60%; /* 모바일 화면에 맞게 너비 조정 */
    left: 50%;
    height: 18%;
    margin: 0;
  }
}
.exitConfirmationModal p {
  line-height: 180%;
  font-size: 12px;
  font-weight: 500;
}

.caution {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.modal_divider {
  /* width: 99%;
  height: 2px; */
  margin: 3% 0 10% 0;
  background-color: #7d00ff;
}

.button_area {
  display: flex;
  margin: 10% 0 0 0;
  justify-content: space-between;
}

.exit_button {
  border: none;
  width: 80px;
  padding: 8px 0 8px 0;
  background-color: #7d00ff;
  border-radius: 8px 8px 8px 8px;
  color: #ffffff;
  font-size: 10px;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
}

/* 
font-size : 15px // 10 ~ 12px
*/

.cancel_button {
  border: none;
  width: 80px;
  padding: 8px 0 8px 0;
  border-radius: 8px 8px 8px 8px;
  background-color: gray;
  color: #ffffff;
  font-size: 10px;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
}
