.finderMain {
  border: 1px slateblue solid;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.modalMain {
  border: 2px solid violet;
  background-color: bisque;
}

.emojiArea {
  border: 1px solid black;
  margin-top: 27%;
  height: 40%;
  display: flex;
  position: relative;
}

.button {
  font-size: 1.3rem;
  border: none;
  border-radius: 1rem;
  color: #7d00ff;
  background-color: white; /* 흰색 배경색 */
  padding: 5px 20px; /* 버튼 내부 여백 */
  cursor: pointer;
}
