.ParentreloadBtn {
  display: flex;
  justify-content: center;
}

.reloadBtn {
  padding-top: 0.55rem;
  color: #7d00ff;
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  height: 2.4rem;
  font-size: 1.2rem;
  width: 8.5rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
  animation: 0.2s ease-in-out loadEffect1;
}

@keyframes loadEffect1 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  65% {
    opacity: 0.65;
    transform: scale(1.01);
  }
  85% {
    opacity: 0.85;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.reloadBtn img {
  margin-right: 0.5rem;
  width: 1.3rem;
}
.reloadBtn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.writeposition {
  position: relative;
  top: 6.25rem;
  left: 21.875rem;
}
