.EmojiBtn {
  width: 15%;
}

.ParentreloadBtn {
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.reloadBtn {
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  width: 10rem;
  height: 3rem;
}

.reloadBtn img {
  margin-right: 0.5rem; /* 이미지 오른쪽과 텍스트 사이 간격 조정 */
}

.emojiArea {
  border: 1px black solid;
  margin-top: 8rem;
  height: 21rem;
}
