.headerMain {
  margin: 0 5% 0 5%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  animation: 0.2s ease-in-out loadEffect1;
  padding-top: 10%;
}

@keyframes loadEffect1 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  65% {
    opacity: 0.65;
    transform: scale(1.01);
  }
  85% {
    opacity: 0.85;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 1000000;
}
.button img{
  width: 40px;
  height: 40px;
}

/* 거리설정 모달 */
.distanceMain {
  background-color: #ffffff;
  border: none;
  width: 78%;
  height: 20%;
  margin: 20% 5%;
  border-radius: 0 1rem 1rem 1rem;
  padding: 1.5rem 1.4rem;
  animation: 0.2s ease-in-out loadEffect1;
}

@keyframes loadEffect1 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  85% {
    opacity: 0.85;
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.closeHeader {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

/* 거리조절 종료버튼 */
.distanceClose {
  height: 50%;
  width: 5%;
}

.headerText {
  display: flex;
  margin-top: 0.2rem;
  font-size: 0.8125rem;
  color: #c4c4c4;
}

.divider {
  margin-top: 0.2rem;
  height: 0.06rem;
  background-color: #7d00ff;
}

/* DistanceSlider.module.css */
.distanceSlider {
  position: relative;
  top: 30%;
  width: 100%;
  height: 30%;
}

/* 거리조절 바 */
.formWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.form {
  width: 100%;
  max-width: 100%;
}

.debtAmountSlider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  user-select: none;
}

.debtAmountSlider::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: 100%;
  width: calc(100% * (5 / 7));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(125, 0, 255, 1);
}

.debtAmountSlider input,
.debtAmountSlider label {
  box-sizing: border-box;
  flex: 1;
  user-select: none;
}

.debtAmountSlider label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  user-select: none;
}

.debtAmountSlider label::before {
  content: attr(data-debt-amount);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 45px);
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.3s ease-in-out;
  color: rgba(125, 0, 255, 0.5);
}

.debtAmountSlider label::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 2px solid rgba(125, 0, 255, 1);
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: rgba(125, 0, 255, 1);
}

.debtAmountSlider label:hover::after {
  transform: translate(-50%, -50%) scale(1.25);
}

.debtAmountSlider input {
  display: none;
}

.debtAmountSlider input:checked + label::before {
  font-weight: 800;
  opacity: 1;
}

.debtAmountSlider input:checked + label::after {
  border-width: 4px;
  transform: translate(-50%, -50%) scale(0.75);
}

.debtAmountSlider input:checked ~ .debtAmountPos {
  opacity: 1;
}

/* 선택된 버튼 중간에 생기는 포인트 */
.debtAmountSlider input:nth-child(1):checked ~ .debtAmountPos {
  left: 12.5%;
}

.debtAmountSlider input:nth-child(3):checked ~ .debtAmountPos {
  left: 37.5%;
}

.debtAmountSlider input:nth-child(5):checked ~ .debtAmountPos {
  left: 62.5%;
}

.debtAmountSlider input:nth-child(7):checked ~ .debtAmountPos {
  left: 87.5%;
}

.debtAmountPos {
  display: block;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: rgba(125, 0, 255, 1);
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  opacity: 0;
  z-index: 2;
}

.form:valid .debtAmountSlider input:checked + label::before {
  transform: translate(-50%, 45px) scale(1.1);
  transition: all 0.3s linear;
}

.form + button {
  display: block;
  position: relative;
  margin: 56px auto 0;
  padding: 10px 20px;
  appearance: none;
  transition: all 0.15s ease-in-out;
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  background: #fff;
  border: 2px solid rgba(125, 0, 255, 1);
  border-radius: 8px;
  outline: 0;
  user-select: none;
  cursor: pointer;
}

.form + button:hover {
  background: rgba(125, 0, 255, 1);
  color: #fff;
}

.form + button:active {
  transform: scale(0.9);
}

.form + button:focus {
  background: #4caf50;
  border-color: #4caf50;
  color: #fff;
  pointer-events: none;
}

.form + button::before {
  display: inline-block;
  width: 0;
  opacity: 0;
  content: "\f3f4";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  margin-right: 0;
  transform: rotate(0deg);
  animation: spin 1s linear infinite;
}

.form:invalid + button {
  pointer-events: none;
  opacity: 0.25;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}

/* 월드맵 CSS */
.worldMapContainer {
  display: flex;
  flex-direction: column;
}

.worldMapContainer h1 {
  margin-top: 5%;
  margin-bottom: 3%;
}

.spanWrap {
  font-size: 15px;
  line-height: 120%;
}

/* carousel */
.carousel {
  margin: 0 auto;
  border-radius: 5px;
  border: 0;
  width: 90%;
  height: 55vh;
  margin-top: 7%;
}

/* 선택완료, 뒤로가기 버튼 */
.buttonWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10%
}

.buttonWrap button {
  border: 0;
  border-radius: 5px;
  margin: 3% 0 3% 0;
  height: 40px;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
}

.selected {
  background-color: #7d00ff;
  color: #ffffff;
}

.back {
  background-color: #999999;
  color: white;
}


.content_box {
  /* width: 300px;
  height: 300px;
  padding: 30px; */
}