.headerMain {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  animation: 0.2s ease-in-out loadEffect1;
}

@keyframes loadEffect1 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  65% {
    opacity: 0.65;
    transform: scale(1.01);
  }
  85% {
    opacity: 0.85;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 1000000;
}
/* 거리설정 모달 */
.distanceMain {
  background-color: #ffffff;
  border: none;
  width: 78%;
  height: 20%;
  margin: 20% 5%;
  border-radius: 0 1rem 1rem 1rem;
  padding: 1.5rem 1.4rem;
  animation: 0.2s ease-in-out loadEffect1;
}

@keyframes loadEffect1 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  85% {
    opacity: 0.85;
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.closeHeader {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

/* 거리조절 종료버튼 */
.distanceClose {
  height: 50%;
  width: 5%;
}

.headerText {
  display: flex;
  margin-top: 0.2rem;
  font-size: 0.8125rem;
  color: #c4c4c4;
}
.divider {
  margin-top: 0.2rem;
  height: 0.06rem;
  background-color: #7d00ff;
}

/* DistanceSlider.module.css */
.distanceSlider {
  position: relative;
  top: 30%;
  width: 100%;
  height: 30%;
}

.gauge {
  position: absolute;
  top: 10%;
  left: 0;
  height: 15%;
  background-color: #3498db;
  transition: width 0.3s;
  z-index: 1;
}

.selectBox {
  display: flex;
}
.meterSelector {
  z-index: 2;
  display: inline-block;
  width: 33%;
  height: 100%;
  text-align: end;
  line-height: 20px;
  cursor: pointer;
  text-align: center;
  position: relative;
  left: -3%;
}
.meterSelector1 {
  z-index: 2;
  display: inline-block;
  width: 33%;
  height: 100%;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  left: -3%;
}
.meterSelector3 {
  z-index: 2;
  display: inline-block;
  width: 33%;
  height: 100%;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  text-align: end;
  left: -3%;
}
.meterSelector4 {
  z-index: 2;
  display: inline-block;
  width: 33%;
  height: 100%;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  text-align: end;
  left: 7%;
}
