/* 메인 모달 */
.modalMain {
  position: fixed;
  top: 40%;
  left: 50%;
  background-color: white;
  padding: 0.5rem;
  border-radius: 1.3rem 1.3rem 1.3rem 1.3rem;
  box-shadow: 0 0.03rem 1.25rem rgba(0, 0, 0, 0.25);
  font-size: 0.875rem;
  width: 312px;
  transform: translate(-50%, -50%) scale(1);
  overflow: auto;
  animation: 0.2s ease-in-out loadEffect1;
}

@keyframes loadEffect1 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
  }

  85% {
    opacity: 0.85;
    transform: translate(-50%, -50%) scale(1.01);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* 프로필이미지 */
.profileImg {
  width: 4rem;
  height: 4rem;
}

/* 모달 상단 */
.modalHead {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}

.modalHeadText {
  width: 100%;
  margin-left: 1rem;
  margin-top: 0.8rem;
}

.pickItem {
  margin-right: 10px;
}

.goodImg {
  width: 15px;
  margin-right: 2px;
}

.nickname {
  margin-top: 5%;
  font-size: 18px;
  font-weight: 700;
  margin-right: 1%;
}

.intro {
  font-size: 13px;
  width: 95%;
  height: 2.875rem;
  margin-top: 3%;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  padding-left: 3%;
  background-color: rgba(125, 0, 255, 0.1);
}

.intro img {
  height: 1rem;  
  width: auto;  
  vertical-align: middle;  
  margin-right: 0.3rem;  
}


/* 모달 중간선  */
.divider {
  margin: 0.5rem 1rem;
  height: 0.06rem;
  background-color: #7d00ff;
}

/* 모달 메인 */
.modalBody {
  display: flex;
  flex-direction: column;
  padding: 1%;
  font-size: 14px;
  height: 50%;
}

.likeWrap {
  margin-bottom: 3%;
}

.like {
  padding: 1% 3%;
  border-radius: 10px;
  width: 20%;
  margin-left: 3%;
  color: white;
  background-color: #7d00ff;
  text-align: center;
  line-height: 150%;
  font-size: 15px;
}

.disLike {
  padding: 1% 3%;
  border-radius: 10px;
  width: 20%;
  margin-left: 3%;
  color: white;
  background-color: rgba(125, 0, 255, 0.5);
  text-align: center;
  line-height: 150%;
  font-size: 15px;
}

.LikeWrap {
  margin-top: 1.5%;
  height: 50%;
  line-height: 300%;
}

.likeInfo {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #ffffff;
  border: 0.0625rem solid #7d00ff;
  margin-right: 0.5rem;
  white-space: normal;
}

/* 모달 하단  */
.pickWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.pick {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 40px;
  border-radius: 1.5rem;
  background-color: #7d00ff;
  color: #ffffff;
  border: none;
  box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.55);
}

.pickwaiting {
  font-size: 17px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60%;
  max-width: 60%;
  height: 40px;
  border-radius: 1.5rem;
  background-color: #a0a0a0;
  color: #ffffff;
  border: none;
  box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.55);
}

.waiting::before {
  content: "기다리는 중...";
  animation: loadingAnimation 1s infinite;
}

@keyframes loadingAnimation {
  0%,
  100% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.75;
  }
  75% {
    opacity: 1;
  }
}

.pick:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.5);
}

.modalbodys {
  display: flex;
}

.modalBodyPeek {
  display: flex;
  padding: 0.8rem 0.5rem;
  position: relative;
  font-size: 0.9rem;
  height: 10rem;
  width: 85%;
  background-color: rgba(125, 0, 255, 0.1);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5%;
}

.viewContent {
  width: 265px;
  word-wrap: break-word;
  font-size: 16px;
}

.peekImg {
  display: flex;
  width: 35%;
  height: 10rem;
  margin-left: 5%;
  align-self: center;
  justify-content: center;
}

.peekImg img {
  max-width: 100%;
  max-height: 100%;
}

.likeDisLike {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 6rem;
  width: 100%;
}

.likes {
  display: grid;
  grid-template-columns: 15fr 1fr;
  /* flex-direction: column; */
  align-items: center;
  justify-items: center;
  padding: 0;
}

.likes span {
    margin-top: 5px;
    font-family: 'KBO-Dia-Gothic_bold';
    font-size: 18px;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.likes img {
  /* margin-left: 15px; */
  width: 30px;
  height: auto;
  margin-left: 10px;
}

.hates {
  display: grid;
  grid-template-columns: 1fr 15fr;
  /* flex-direction: column; */
  align-items: center;
  justify-items: center;
  padding: 0;
}

.hates span {
    margin-top: 5px;
    font-family: 'KBO-Dia-Gothic_bold';
    font-size: 18px;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.hates img {
  width: 30px;
  /* margin-right: 15px; */
  height: auto;
  margin-right: 10px;
}

.vs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.vs img {
  width: 60px;
  height: auto;
}

.progressdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 85%;
  color: white;
  margin-bottom: 5%;
}

::-webkit-progress-bar {
  background-color: rgba(125, 0, 255, 0.5);
  border-radius: 5px;
  overflow: hidden;
  height: 15px;
}

::-webkit-progress-value {
  background-color: #7d00ff;
  border-radius: 5px;
}


.likehate {
  display: flex;
  margin-bottom: 2%;
  align-items: center;
  margin-left: 5%;
}

.items {
  font-size: 14px;
  border: 0.5px solid;
  border-color: rgba(125, 0, 225);
  border-radius: 10px;
  background-color: white;
  color: black;
  margin: 0.7vh;
  padding: 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemWrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.5%;
}

.bottomvalue {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bottomvalue > span:first-child {
  position: absolute;
  left: 0;
  bottom: 100%;
  transform: translateX(50%) translateY(-5px);

}

.bottomvalue > span:last-child {
  position: absolute;
  right: 0;
  bottom: 100%;
  transform: translateX(-50%) translateY(-5px);
}

.timer{
  width: 70%;
}