.pickerMain {
  background-position: center;
  background-size: 250%;
  margin: 0;
  padding: 0;
  height: 80%;
  background-repeat: no-repeat;
}
::-webkit-scrollbar {
  /* 크롬, 사파리, 오페라, 엣지 */
  display: none;
}
