.pickerMain {
  background-position: center;
  background-size: 110vh;
  max-width: 415px;
  width: 100vw;
  height: 80vh;
  min-height: 300px;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}
