
.App {
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
}

.toast-message {
  background-color: #f4e9ff !important;
  padding: 30px 20px;
  border-radius: 1.3rem 1.3rem !important;
  margin: 0.5vh;
  display: flex;
}
