.App {
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center; 
  width: 400px;
  height: auto;
  margin: auto;
}
.toast-message {
  background-color: #f4e9ff !important;
  border-radius: 1.3rem 1.3rem !important;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
}
::-webkit-scrollbar {
  /* 크롬, 사파리, 오페라, 엣지 */
  display: none;
}
