@font-face {
  font-family: "GmarketSansTTFMedium";
  font-weight: normal;
  src: url("./fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "GmarketSansTTFLight";
  font-weight: normal;
  src: url("./fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "GmarketSansTTFBold";
  font-weight: normal;
  src: url("./fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  font-family: "GmarketSansTTFMedium";
}