@font-face {
  font-family: "GmarketSansTTFMedium";
  font-weight: normal;
  src: url("./fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "GmarketSansTTFLight";
  font-weight: normal;
  src: url("./fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "GmarketSansTTFBold";
  font-weight: normal;
  src: url("./fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  font-family: "GmarketSansTTFMedium";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html > ::-webkit-scrollbar {
  width: 0; /* 스크롤바의 너비를 0으로 설정하여 숨김 */
  background: transparent; /* 스크롤바 배경을 투명하게 설정 */
}
html {
  background-color: #af8e88;
}
